<a href="https://colab.research.google.com/github/siddlal/Demographic-Data-Analyzer/blob/main/DemographicDataAnalyzer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
# checking total columns
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [4]:
df.size

488415

In [32]:
# describe function provides basic statistical measures.
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

Look for more Pandas functions for detailed analysis. Functions such as size,shape etc.

1 >> **How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column):**

In [6]:
df.race.value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

2 >> What is the average age of men?

In [7]:
df_males= df[df['sex'] == 'Male']
df_males.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K

In [8]:
df_males['age'].mean()

39.43354749885268

3 >>What is the percentage of people who have a Bachelor's degree?

In [9]:
df.education.value_counts(normalize=True) *100

HS-grad         32.250238
Some-college    22.391818
Bachelors       16.446055
Masters          5.291607
Assoc-voc        4.244341
11th             3.608612
Assoc-acdm       3.276926
10th             2.865391
7th-8th          1.983969
Prof-school      1.768987
9th              1.578576
12th             1.329812
Doctorate        1.268389
5th-6th          1.022696
1st-4th          0.515955
Preschool        0.156629
Name: education, dtype: float64

The Percentage of people that have Bachelor's Degree is 16.44%

Lets go for a Pie Chart

In [10]:
import matplotlib.pyplot as plt

In [11]:
sum = df.education.value_counts().values.sum()

In [12]:
df.education

0         Bachelors
1         Bachelors
2           HS-grad
3              11th
4         Bachelors
            ...
32556    Assoc-acdm
32557       HS-grad
32558       HS-grad
32559       HS-grad
32560       HS-grad
Name: education, Length: 32561, dtype: object

What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [13]:
# This is how we select multiple things from a column in pandas using the "isin" function. 
df_AE = df[df["education"].isin(['Bachelors', 'Masters','Doctorate'])]

In [14]:
df_AE.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K

In [15]:
df_AE.shape

(7491, 15)

In [16]:
df_highSal = df[df["salary"]== ">50K"]

In [17]:
df.education.value_counts()

HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: education, dtype: int64

In [18]:
df_highSal.education.value_counts(normalize = True)*100

Bachelors       28.325469
HS-grad         21.362071
Some-college    17.689070
Masters         12.230583
Prof-school      5.394720
Assoc-voc        4.604005
Doctorate        3.902563
Assoc-acdm       3.379671
10th             0.790715
11th             0.765209
7th-8th          0.510139
12th             0.420865
9th              0.344344
5th-6th          0.204056
1st-4th          0.076521
Name: education, dtype: float64

In [19]:
sum_ae_hs = df_highSal[df_highSal["education"].isin(['Bachelors','Masters','Doctorate'])].education.value_counts().sum()

In [20]:
df[df["education"].isin(['Bachelors', 'Masters','Doctorate'])].value_counts()

age  workclass         fnlwgt  education  education-num  marital-status         occupation       relationship   race                sex     capital-gain  capital-loss  hours-per-week  native-country  salary
44   Private           367749  Bachelors  13             Never-married          Prof-specialty   Not-in-family  White               Female  0             0             45              Mexico          <=50K     2
28   Private           274679  Masters    14             Never-married          Prof-specialty   Not-in-family  White               Male    0             0             50              United-States   <=50K     2
25   Private           308144  Bachelors  13             Never-married          Craft-repair     Not-in-family  White               Male    0             0             40              Mexico          <=50K     2
18   Local-gov         155905  Masters    14             Never-married          Prof-specialty   Own-child      White               Female  0             0             60              United-States   <=50K     1
45   Private           178319  Doctorate  16             Married-civ-spouse     Prof-specialty   Husband        White               Male    7688          0             50              United-States   >50K      1
                                                                                                                                                                                                                 ..
34   Private           146161  Bachelors  13             Married-civ-spouse     Prof-specialty   Husband        White               Male    0             0             60              United-States   >50K      1
                       142897  Masters    14             Married-civ-spouse     Exec-managerial  Husband        Asian-Pac-Islander  Male    7298          0             35              Taiwan          >50K      1
                       141118  Masters    14             Divorced               Prof-specialty   Own-child      White               Female  0             0             60              United-States   >50K      1
                               Bachelors  13             Married-spouse-absent  Prof-specialty   Not-in-family  White               Female  0             0             35              United-States   <=50K     1
90   Self-emp-not-inc  155981  Bachelors  13             Married-civ-spouse     Prof-specialty   Husband        White               Male    10566         0             50              United-States   <=50K     1
Length: 7488, dtype: int64

In [21]:
# Therefore the percentage of people with Advanced Education and earning over 50K is 
print(sum_ae_hs/sum * 100)

10.706059396210192

**What percentage of people without advanced education make more than 50K?
**

In [22]:
sum_HS_notAE = df_highSal[df_highSal["education"].isin(['Bachelors','Masters','Doctorate']) == False].education.value_counts().sum()

In [23]:
print(sum_HS_notAE/sum *100)

13.374896348392248

**What is the minimum number of hours a person works per week?
**

In [24]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [25]:
df['hours-per-week'].dtype

dtype('int64')

In [26]:
df['hours-per-week'].min()

1

**What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
**

In [27]:
df_highSal[df_highSal['hours-per-week'] == 1].salary.value_counts()

>50K    2
Name: salary, dtype: int64

So Basically 2 individuals have salary greater than 50k while working for just 1hour per week.

**What country has the highest percentage of people that earn >50K and what is that percentage?**

In [38]:
df[df['salary'] == '>50K']['native-country'].value_counts()

United-States         7171
?                      146
Philippines             61
Germany                 44
India                   40
Canada                  39
Mexico                  33
England                 30
Italy                   25
Cuba                    25
Japan                   24
Taiwan                  20
China                   20
Iran                    18
South                   16
Puerto-Rico             12
Poland                  12
France                  12
Jamaica                 10
El-Salvador              9
Greece                   8
Cambodia                 7
Hong                     6
Yugoslavia               6
Ireland                  5
Vietnam                  5
Portugal                 4
Haiti                    4
Ecuador                  4
Thailand                 3
Hungary                  3
Guatemala                3
Scotland                 3
Nicaragua                2
Trinadad&Tobago          2
Laos                     2
Columbia                 2
Dominican-Republic       2
Peru                     2
Honduras                 1
Name: native-country, dtype: int64

In [31]:

df[df['salary'] == '>50K']['native-country'].value_counts(normalize = True)*100

United-States         91.455172
?                      1.862007
Philippines            0.777962
Germany                0.561153
India                  0.510139
Canada                 0.497386
Mexico                 0.420865
England                0.382604
Italy                  0.318837
Cuba                   0.318837
Japan                  0.306083
Taiwan                 0.255070
China                  0.255070
Iran                   0.229563
South                  0.204056
Puerto-Rico            0.153042
Poland                 0.153042
France                 0.153042
Jamaica                0.127535
El-Salvador            0.114781
Greece                 0.102028
Cambodia               0.089274
Hong                   0.076521
Yugoslavia             0.076521
Ireland                0.063767
Vietnam                0.063767
Portugal               0.051014
Haiti                  0.051014
Ecuador                0.051014
Thailand               0.038260
Hungary                0.038260
Guatemala              0.038260
Scotland               0.038260
Nicaragua              0.025507
Trinadad&Tobago        0.025507
Laos                   0.025507
Columbia               0.025507
Dominican-Republic     0.025507
Peru                   0.025507
Honduras               0.012753
Name: native-country, dtype: float64

USA has the highest percentage of people having salary >50K among people having salary >50K all around the world.

**Identify the most popular occupation for those who earn >50K in India.
**

In [37]:
df_highSal[df_highSal['native-country'] == 'India']['occupation'].value_counts()

Prof-specialty      25
Exec-managerial      8
Other-service        2
Tech-support         2
Transport-moving     1
Sales                1
Adm-clerical         1
Name: occupation, dtype: int64

Most popular occupation for those earning more than 50K in India is Prof-Speciality.